<div id = "imgcontainer">

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="15560" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Country_Apple_Dumplings/9630' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/387913dfb0.jpg" alt="Country Apple Dumplings Recipe"><br />
					<span class='recipe-name'>
						Country Apple Dumplings
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=11">
						All Recipes
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="53664" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Apple_Dumplings/47335' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/2295946365_d753a3a686_ocef6.jpg" alt="Apple Dumplings Recipe"><br />
					<span class='recipe-name'>
						Apple Dumplings
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=20">
						The Pioneer Woman
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="136756" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/How_to_Make_Fruit_Leather/36482' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/fruitleather300x2001f9f84c4.jpg" alt="How to Make Fruit Leather Recipe"><br />
					<span class='recipe-name'>
						How to Make Fruit Leather
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=54">
						Simply Recipes
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="101869" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Paleo_Bread/112a27' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/paleobreadrecipe3625abb1.jpg" alt="Paleo Bread Recipe"><br />
					<span class='recipe-name'>
						Paleo Bread
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=38">
						Elana&#x27;s Pantry
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="53214" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Granola_Bars/46896' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/granolabars6e7c.jpg" alt="Granola Bars Recipe"><br />
					<span class='recipe-name'>
						Granola Bars
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=20">
						The Pioneer Woman
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="53300" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Pork_Roast_with_Apples_and_Onions/46980' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/porkroastapplese1e2.jpg" alt="Pork Roast with Apples and Onions Recipe"><br />
					<span class='recipe-name'>
						Pork Roast with Apples and Onions
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=20">
						The Pioneer Woman
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="134520" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Caramel_Apple_Cheesecake_Bars/35187' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/Caramel2BApple2BCheesecake2BBars2B5002B27312fde15af.jpg" alt="Caramel Apple Cheesecake Bars Recipe"><br />
					<span class='recipe-name'>
						Caramel Apple Cheesecake Bars
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=52">
						Closet Cooking
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="58200" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/apple_mosaic_tart_with_salted_caramel/46853' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/8101634492_afde37dc20b2d4.jpg" alt="apple mosaic tart with salted caramel Recipe"><br />
					<span class='recipe-name'>
						apple mosaic tart with salted caramel
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=33">
						Smitten Kitchen
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="53797" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Salted_Caramel_Apple_Crumb_Bars/54335' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/saltedcaramelapplecrumbbars3ff01.jpg" alt="Salted Caramel Apple Crumb Bars Recipe"><br />
					<span class='recipe-name'>
						Salted Caramel Apple Crumb Bars
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=21">
						Two Peas and Their Pod
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="34355" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Sarahs_Applesauce/27558' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/25840e559.jpg" alt="Sarah's Applesauce Recipe"><br />
					<span class='recipe-name'>
						Sarah's Applesauce
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=11">
						All Recipes
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="131773" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Holiday_Recipe_Exchange__Slow_Cooker_Apple_Butter/c54352' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/HomemadeAppleButterdad7.jpg" alt="Holiday Recipe Exchange | Slow Cooker Apple Butter Recipe"><br />
					<span class='recipe-name'>
						Holiday Recipe Exchange | Slow Cooker Apple Butter
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=45">
						My Baking Addiction
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="53323" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Pork_Chops_with_Apples_and_Creamy_Bacon_Cheese_Grits/47003' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/porkchops3435.jpg" alt="Pork Chops with Apples and Creamy Bacon Cheese Grits Recipe"><br />
					<span class='recipe-name'>
						Pork Chops with Apples and Creamy Bacon Cheese Grits
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=20">
						The Pioneer Woman
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="135788" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Baked_Apples/35746' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/bakedapples300x200a2aa4259.jpg" alt="Baked Apples Recipe"><br />
					<span class='recipe-name'>
						Baked Apples
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=54">
						Simply Recipes
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="57165" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Hot_cross_buns/bd17f2' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/2066661_MEDIUMd0ec.jpg" alt="Hot cross buns Recipe"><br />
					<span class='recipe-name'>
						Hot cross buns
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=29">
						BBC Good Food
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="53535" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Caramel_Apple_Sticky_Buns/47209' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/3828323445_e95a51d208b1c6.jpg" alt="Caramel Apple Sticky Buns Recipe"><br />
					<span class='recipe-name'>
						Caramel Apple Sticky Buns
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=20">
						The Pioneer Woman
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="53278" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Apple_Pecan_and_Blue_Cheese_Salad_with_Dried_Cherries/46958' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/salad8c49.jpg" alt="Apple, Pecan, and Blue Cheese Salad with Dried Cherries Recipe"><br />
					<span class='recipe-name'>
						Apple, Pecan, and Blue Cheese Salad with Dried Cherries
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=20">
						The Pioneer Woman
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="6825" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Apple_Strudel_Muffins/1480' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/173362b670.jpg" alt="Apple Strudel Muffins Recipe"><br />
					<span class='recipe-name'>
						Apple Strudel Muffins
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=11">
						All Recipes
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="54029" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Apple_Cinnamon_Baked_Oatmeal/54567' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/oatmealtoppingsac1d.jpg" alt="Apple Cinnamon Baked Oatmeal Recipe"><br />
					<span class='recipe-name'>
						Apple Cinnamon Baked Oatmeal
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=21">
						Two Peas and Their Pod
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="135306" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Vegetarian_Thanksgiving_Recipes/47990' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/vegetarian_thanksgiving_recipesf594.jpg" alt="Vegetarian Thanksgiving Recipes Recipe"><br />
					<span class='recipe-name'>
						Vegetarian Thanksgiving Recipes
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=53">
						101 Cookbooks
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="78250" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Apple_crumble/4d5358' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/applecrumble_2971_16x96445.jpg" alt="Apple crumble Recipe"><br />
					<span class='recipe-name'>
						Apple crumble
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=27">
						BBC Food
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="1032" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/HoneyBourbon_Toddy/49507' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/HoneyBourbonToddy6465969.jpg" alt="Honey-Bourbon Toddy Recipe"><br />
					<span class='recipe-name'>
						Honey-Bourbon Toddy
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=8">
						Bon Appetit
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="6826" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Apple_Stuffed_Chicken_Breast/1481' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/8530b681.jpg" alt="Apple Stuffed Chicken Breast Recipe"><br />
					<span class='recipe-name'>
						Apple Stuffed Chicken Breast
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=11">
						All Recipes
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="72967" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Red_Wine_Caramel_Apples/de147b' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/3554695302.jpg" alt="Red Wine Caramel Apples Recipe"><br />
					<span class='recipe-name'>
						Red Wine Caramel Apples
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=39">
						Epicurious
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="58190" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/apple_sharlotka/46857' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/6647447061_817983021c3e9a.jpg" alt="apple sharlotka Recipe"><br />
					<span class='recipe-name'>
						apple sharlotka
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=33">
						Smitten Kitchen
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="53410" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/My_Favorite_Turkey_Brine/47089' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/brine10110.jpg" alt="My Favorite Turkey Brine Recipe"><br />
					<span class='recipe-name'>
						My Favorite Turkey Brine
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=20">
						The Pioneer Woman
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="136793" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Chicken_Salad/35956' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/chickensalad5202300x200b7d86a9d.jpg" alt="Chicken Salad Recipe"><br />
					<span class='recipe-name'>
						Chicken Salad
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=54">
						Simply Recipes
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="135168" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Heirloom_Apple_Salad/47854' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/heirloom_apple_salad_reciped517.jpg" alt="Heirloom Apple Salad Recipe"><br />
					<span class='recipe-name'>
						Heirloom Apple Salad
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=53">
						101 Cookbooks
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="135427" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Macaroni_Salad/48111' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/macaroni_salad_recipeeef3.jpg" alt="Macaroni Salad Recipe"><br />
					<span class='recipe-name'>
						Macaroni Salad
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=53">
						101 Cookbooks
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="6678" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Apple_Crisp_II/1340' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/2770701179.jpg" alt="Apple Crisp II Recipe"><br />
					<span class='recipe-name'>
						Apple Crisp II
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=11">
						All Recipes
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>

		<div class = "item">
			<div class = "img-polaroid">
				<a


			class="like-button btn"



	href="/register/login?_next=%2Ftop%3Fkey%3D3d1aad3aa7ac8a9c8ad384029e3bcad8%26q%3Dapple" data-doc="136246" data-user="False">
		<i class="icon-heart"></i>
		Like
</a>

				<a href='/view/Waldorf_Salad/37128' class="recipe-link" target="_blank" >
					<img src ="http://static.food2fork.com/waldorfsalad300x20000f287fd.jpg" alt="Waldorf Salad Recipe"><br />
					<span class='recipe-name'>
						Waldorf Salad
					</span>
				</a>

				<br />

				<span class ='publisher'>


					<a href="/publishers/view?p=54">
						Simply Recipes
					</a>

				</span>

				<span class="pull-right well well-small">
					<small>
						Rating
					</small>
					<span class="badge badge-important">
						100
					</span>
				</span>

			</div>
		</div>


</div>
